* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px 50px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100vh;
    color: #757575;
    background-color: #fafafa;
}

ul {
    margin: 0;
    padding: 0;
    /*list-style: none;*/
}

button {
    display: inline-block;
    width: 100px;
    height: 20px;
    line-height: 18px;
    color: #00a473;
    border-radius: 0px;
}
nav > a {
    color: #00a3c7;
    font-size: 16px;
    transition: .2s linear;
    text-decoration: none;
    border-bottom: 1px solid;
}

nav > a:hover {
    color: rgba(0, 163, 199, 0.7);
}
