<div *ngIf="car">
    <h1>Edit Form</h1>

    <div>
        <label>Car name: {{ car.name }}</label><br>
        <input type="text" [(ngModel)]="car.name" placeholder="name" #name>
    </div>
    <div>
        <label>Car color: {{ car.color }}</label><br>
        <input type="text" [(ngModel)]="car.color" placeholder="color" #color>
    </div>
    <div>
        <label>Car release: {{ car.release }}</label><br>
        <input type="number" [(ngModel)]="car.release" placeholder="release" #release>
    </div>
    <input type="hidden" value="{{ car.id }}" #id>

    <button (click)="onClose()">Close</button>
    <!-- <button (click)="onEdit(id.value, name.value, color.value, release.value)">Save</button> -->
</div>

<div *ngIf="!car">
    <h1>Такої машини нема!</h1>
</div>
