
<div>
    <label>Car name: </label>
    <input type="text" #name>
</div>
<div>
    <label>Car color: </label>
    <input type="text" #color>
</div>
<div>
    <label>Car release: </label>
    <input type="number" step="1" #release>
</div>

<button (click)="goBack()">Back</button>
<button (click)="onSave(name.value, color.value, release.value)">Save</button>


<div class="error" *ngIf="error">{{ error }}</div>
